<!--
    class: WEB322
    work: Assignment #1 - Library
    due date: February 15, 2022
    author: Oleg Savelev
	file: landing.hbs
-->


<html> 
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"> 

    <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
        <title>Web Books Library - Welcome</title>
    </head>

        
    <body class="cls_bg_image">
        <header class="cls_header">
            <a id='id_signin_landing' href="/signin">Sign in</a>
            <h1>Web Books Library</h1>
            <h2>Welcome to the Online Book Platform</h2>
        </header>

		<article>
            <br><br><br>
		    <h3>
                Dear Friends!
                <br><br>
                Welcome to the Web Books Library site!
                <br><br>
                ~*~
                <br><br>
                Please click on the "Sign In" label in the top right corner to sign in using your username and password.
                <br><br>
                If you don't have a Web Books Library account you will be able to register on our web site (in progress).
            </h3>

            <br></br>
            <img class="center" src="/images/1024px-pink_library.jpg" alt="Image Unavailable">
            <br></br>

		</article>
    </body>
</html>
